<?xml version="1.0"?>
<launch>
	<include file="$(find decawave_interface)/launch/run_decawave.launch">
		<arg name="name" value="$(env CAR_FRAME_ID)"/>
	</include>

	<!-- <remap from="initialpose" to="observer/initial_pose_$(env CAR_FRAME_ID)"/> -->
	<include file="$(find racecar)/launch/teleop.launch"/>

    <include file="$(find multi_car_localization)/launch/lidar_odom.launch"/>

    <node pkg="multi_car_localization" name="collector" type="car_message_collector.py">
            <param name="name" value="$(env CAR_FRAME_ID)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_link_imu" args="0 0 0 0 0 0 base_link base_imu_link 100"/>

    <node pkg="canopy_client" type="client_node.py" name="canopy_node"
        output="screen">
		<param name="name" value="$(env CAR_FRAME_ID)"/>
		<param name="description" value="Racecar. $(env CAR_FRAME_ID)" />
        <param name="use_local_time" value="true" />
        <rosparam subst_value="True">
            publishing:
                - /canopy_msg
                - /tf
            types:
                - multi_car_msgs/CanopyCollector
                - tf2_msgs/TFMessage
            trusted:
                - "car[1-3] observer"
                - "car[1-3] observer"
            global_frames:
                - "$(env CAR_FRAME_ID)"
        </rosparam>
        <rosparam command="load"
            file="$(find multi_car_localization)/param/canopy.yaml"/>
	</node>
</launch>
