<?xml version="1.0"?>
<launch>

	<arg name="car_id" default="0" />
    <arg name="dynamics_model" default="dubins" />
	<arg name="fake_sensors" default="True" />

    <group if="$(arg fake_sensors)">
        <node pkg="multi_car_localization" type="fake_car.py" name="car$(arg car_id)" output="screen">
            <param name="car_id" value="$(arg car_id)"/>
            <param name="dynamics_model" value="$(arg dynamics_model)" />
        </node>

        <node pkg="multi_car_localization" type="fake_lidar.py" name="uwb" output="screen">
            <param name="car_id" value="$(arg car_id)" />
            <param name="dynamics_model" value="$(arg dynamics_model)" />
        </node>

        <node pkg="multi_car_localization" type="fake_vicon.py" name="fake_vicon" output="screen" />
    </group>

    <!-- remap tf for vicon bag data -->
    <node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
        <rosparam param="mappings" subst_value="True">
            [{old: vicon/ba_car$(arg car_id)/ba_car$(arg car_id), new: car$(arg car_id)/map}]
        </rosparam>
    </node>

 	<include file="$(find multi_car_localization)/launch/particle_filter.launch">
 		<arg name="car_id" value="$(arg car_id)" />
        <arg name="dynamics_model" value="$(arg dynamics_model)" />
        <arg name="fake_sensors" value="$(arg fake_sensors)" />
	</include>

	<node pkg="multi_car_localization" type="measurements.py" name="measurements" output="screen">
        <param name="car_id" value="$(arg car_id)"/>
    </node>

    <node pkg="multi_car_localization" type="consensus_test.py" name="consensus_test" output="screen">
    	<param name="car_id" value="$(arg car_id)"/>
        <param name="dynamics_model" value="$(arg dynamics_model)" />
    </node>

    <node pkg="gps_common" type="utm_odometry_node" name="gps_to_utm" output="screen">
        <param name="frame_id" value="utm"/>
        <param name="child_frame_id" value="map"/>
    </node>

    <node pkg="multi_car_localization" type="metrics.py" name="metrics" output="screen">
        <param name="car_id" value="$(arg car_id)"/>
        <param name="dynamics_model" value="$(arg dynamics_model)" />
    </node>

</launch>
