<?xml version="1.0"?>
<launch>

    <include file="$(find multi_car_localization)/launch/fake_car.launch" ns="car0">
    	<arg name="car_frame_id" value="car0" />
    </include>

    <include file="$(find multi_car_localization)/launch/fake_car.launch" ns="car1">
        <arg name="car_frame_id" value="car1" />
    </include>

    <include file="$(find multi_car_localization)/launch/fake_car.launch" ns="car2">
        <arg name="car_frame_id" value="car2" />
    </include>

</launch>