<?xml version="1.0"?>
<launch>

	<arg name="id_dict" default="$(find multi_car_localization)/param/ids.yaml"/>

	<arg name="connections" default="$(find multi_car_localization)/param/connections_three_cars.yaml"/>

    <rosparam command="load" file="$(arg id_dict)"/>
    <rosparam command="load" file="$(arg connections)"/>

    <include file="$(find multi_car_localization)/launch/fake_car.launch" ns="car0">
    	<arg name="car_frame_id" value="car0" />
    </include>

    <include file="$(find multi_car_localization)/launch/fake_car.launch" ns="car1">
        <arg name="car_frame_id" value="car1" />
    </include>

    <include file="$(find multi_car_localization)/launch/fake_car.launch" ns="car2">
        <arg name="car_frame_id" value="car2" />
    </include>

</launch>