<?xml version="1.0"?>
<launch>

	<arg name="car_frame_id" default="car0" />
	<arg name="num_cars" default="3" />

    <node pkg="multi_car_localization" type="measurements.py" name="measurements" output="screen">
		<param name="num_cars" value="$(arg num_cars)"/>
		<param name="car_frame_id" value="$(arg car_frame_id)"/>
    </node>

</launch>
