<?xml version="1.0"?>
<launch>
    <node pkg="canopy_client" type="client_node.py" name="canopy_node"
        output="screen" clear_params="true">
		<param name="name" value="observer"/>
        <param name="description"
            value="Observer machine" />
        <rosparam>
            host: 192.168.1.129
            port: 8080
            publishing:
                - /initial_pose_car0
                - /initial_pose_car1
                - /initial_pose_car2
            types:
                - geometry_msgs/PoseWithCovarianceStamped
                - geometry_msgs/PoseWithCovarianceStamped
                - geometry_msgs/PoseWithCovarianceStamped
            trusted:
                - car0
                - car1
                - car2
            private_key: EjAodXdkTz6RPETFE
            global_frames:
                - earth
                - map
                - car0
                - car1
                - car2
        </rosparam>
	</node>

    <node pkg="multi_car_localization" type="initial_pose_node.py"
        name="initial_pose_node"/>

    <node pkg="map_server" type="map_server" name="map_server"
        args="$(find particle_filter)/maps/racecar_test3.yaml"/>
</launch>
