<?xml version="1.0"?>
<launch>

	<arg name="car_frame_id" default="car0" />
	<arg name="num_particles" default="200" />
	<arg name="num_cars" default="3" />
	<arg name="num_state_dim" default="4" />
	<arg name="num_measurements" default="5" />
	<arg name="resample_perc" default="0.3" />

    <node pkg="tf" type="static_transform_publisher" name="$(arg car_frame_id)_tf"
        args="0 0 0 0 0 1 map $(arg car_frame_id) 100" />

    <node pkg="multi_car_localization" type="measurement_filter.py" name="filter" output="screen">
    	<param name="num_particles" value="$(arg num_particles)"/>
		<param name="num_cars" value="$(arg num_cars)"/>
		<param name="num_state_dim" value="$(arg num_state_dim)"/>
		<param name="num_measurements" value="$(arg num_measurements)"/>
		<param name="resample_perc" value="$(arg resample_perc)"/>
    </node>

</launch>