<?xml version="1.0"?>
<launch>

	<arg name="car_frame_id" default="car0" />

 	<include file="$(find multi_car_localization)/launch/particle_filter.launch">
 		<arg name="car_frame_id" value="$(arg car_frame_id)" />
	</include>

	<include file="$(find multi_car_localization)/launch/measurements.launch">
		<arg name="car_frame_id" value="$(arg car_frame_id)" />
		<arg name="num_uwbs" value="3" />
		<arg name="num_cars" value="3" />
	</include>

	<node pkg="gps_common" type="utm_odometry_node" name="gps_to_utm" output="screen">
        <param name="frame_id" value="utm"/>
        <param name="child_frame_id" value="map"/>
    </node>

	<node pkg="tf" type="static_transform_publisher" name="map_to_$(arg car_frame_id)"
        args="0 0 0 0 0 0 map $(arg car_frame_id) 100" />

    <node pkg="tf" type="static_transform_publisher" name="map_to_gps"
        args="0 0 0 0 0 0 earth utm 100" />

    <node pkg="tf" type="static_transform_publisher" name="map_to_utm"
        args="327841.212895 4692094.36513 0 0 0 0 utm map 100" />

</launch>